<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory><!-- Heavyweight(重量級)、Immutable(不可變)、Thread-safe(執行續安全) -->
		<property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/dbtest?serverTimezone=Asia/Taipei</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password">123456</property>

		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<property name="hibernate.show_sql">true</property>
		
		<property name="hibernate.hbm2ddl.auto">validate</property>
		
		<property name="hibernate.current_session_context_class">thread</property>
		
<!-- 		預先註冊 Entity 的類別名 -->
		<mapping class="com.courses.model.Courses"/> 
		
	</session-factory>
</hibernate-configuration>
